.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

    .page-header h1 {
        margin-bottom: 0.25rem;
    }

.card {
    max-width: 750px;
}

table {
    background: white;
}

.badge {
    padding: 0.5rem 0.7rem;
}
