.login-container{
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card{
    width:100%;
    max-width:420px;
    padding:2rem;
    border: 1px solid #ddd;
    border-radius:12px;
    background:white;
    box-shadow:0 4px 16px rgba(0,0,0,0.8);
}

.login-card h1{
    margin-bottom:0.5rem;
}
